html {
  -ms-scroll-behavior: smoth !important;
  scroll-behavior: smooth;
  touch-action: pan-y;
}
.model-area {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.single-model {
  padding: 0 20px 20px;
}
.TheModel {
  height: 360px;
  width: 520px;
}
body {
  background: #3aafa9;
  transition-duration: 800ms;
  transition-property: background;
  transition-timing-function: ease-in;
}
.myButtonDark {
  background: linear-gradient(to right, #141e30, #243b55);
}
.myButtonDark:hover {
  transition-property: animation;
  transition-duration: 500ms;
  transition-timing-function: ease-in;
}
.myButtonPink span {
  position: absolute;
}

.myButtonPink:hover > .fa-file-download {
  animation-name: download;
  animation-duration: 2500ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.myButtonDark:hover > span {
  color: #feffff;
  animation-name: boton;
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.myButtonDark span:nth-child(1) {
  animation-delay: 0;
}
.myButtonDark span:nth-child(2) {
  animation-delay: 750ms;
}

.myTextLight {
  color: #3aafa9;
}
.myTextDark {
  color: #2b7a78;
}
.myModel2 {
  display: block;
  position: absolute;

  width: 100%;
  height: 100%;
}
#my3M {
  cursor: pointer;
}
#my3D {
  cursor: pointer;
}
ul {
  list-style-type: none;
  text-align: left;
}
li {
  display: list-item;
}
.navbar {
  font-family: "Lato", sans-serif;
  align-items: center;
}
.btn {
  font-family: "Varela Round", sans-serif;
  font-size: 15px;
  font-weight: 500;
  text-transform: none;
}
.myNavColor {
  -webkit-background: rgb(43, 122, 120, 0.1);
  -moz-background: rgb(43, 122, 120, 0.1);
  -ms-background: rgba(2, 3, 3, 0.95) !important;
  background: rgb(43, 122, 120, 0.1);
}
.top-nav-collapse {
  -ms-background: rgb(23, 37, 42, 0.95) !important;
  background: rgb(23, 37, 42, 0.95) !important;
}

.color-azul {
  background-color: #3aafa9;
}
.color-blanco {
  background-color: #feffff;
}
.mySalaz {
  font-family: "Galada", cursive;
}
.myOpacidad {
  opacity: 0.8;
}
.myOpacidad:hover {
  opacity: 1;
}
.myNombre {
  font-family: "Josefin Sans", sans-serif;
}
.myTexto {
  font-family: "Open Sans", sans-serif;
}
.myTextoM {
  font-family: "Righteous", cursive;
  letter-spacing: 0.5px;
}
.myTextoA {
  font-family: "Righteous", cursive;
  letter-spacing: 0.5px;
  font-weight: 200;
}
.myParrafo {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}
.display-3 {
  transform: skewY(-6deg);
  transform-origin: bottom left;
  text-shadow: 3px 2px 0px #d5d5d5, 8px 7px 0px rgba(0, 0, 0, 0.15);
  transition-duration: 800ms;
  transition-property: transform;
  transition-timing-function: ease-in;
  font-family: "Merriweather", serif;
}
.display-3:hover {
  transform: skewY(-3deg);
  transform-origin: bottom left;
}

.myInicio {
  display: none;
  margin-top: 150px;
}
.myWho {
  display: none;
}
.navbar {
  display: none;
}
.myModelados {
  display: none;
}
.myAplicaciones {
  display: none;
}
.MyFooter {
  display: none;
  background-color: #17252a;
}
.MyDatos {
  display: none;
  background: #3aafa9;
  padding-top: 40px;
  padding-bottom: 40px;
}
.MyContacto {
  display: none;
  background-color: #17252a;
  padding-top: 80px;
  padding-bottom: 20px;
}
.MyRenders {
  display: none;
  padding-top: 80px;
  padding-bottom: 0;
}
.MyFormulario {
  padding-top: 40px;
}
.mydatos {
  color: #17252a;
}
.myGallery {
  padding-top: 50px;
}
.single-album {
  position: relative;
  overflow: hidden;
}
.album-img {
  position: relative;
  overflow: hidden;
}
.album-img img {
  width: 100%;
  box-sizing: border-box;
  transition-duration: 500ms;
  transition-property: transform, filter;
  transition-timing-function: ease-in;
}
.single-album:hover .album-img img {
  transform: scale(1.1, 1.1);
  filter: grayscale(60%);
}
.nav-pills {
  font-family: "Lato", sans-serif;
  font-size: 15px;
  letter-spacing: 0.5px;
  font-weight: 300;
}
.nav-pills > li > a.active {
  background-color: #3aafa9 !important;
  color: #ffffff !important;
}

.nav-pills > li > a {
  color: #17252a;
}
.myServicios1:hover {
  color: #e91e63;
}
.myServicios2:hover {
  color: #00bcd4;
}
.myHabilidades:hover {
  color: #00bcd4;
}

.myOpacity {
}
.myOpacity:hover {
  opacity: 0.85;
}
.titulos {
  font-family: "Merriweather", sans-serif;
}
.titulos2 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
}

.fa-cube {
  transition-duration: 1600ms;
  transition-property: transform, color;
  transition-timing-function: ease-out;
}
.fa-cube:hover {
  color: #212121 !important;
  transform: rotate(360deg);
}
.fa-desktop {
  transition-duration: 1600ms;
  transition-property: transform, color;
  transition-timing-function: ease-out;
}
.fa-desktop:hover {
  color: #212121 !important;
  transform: rotate(360deg);
}
.fa-code {
  transition-duration: 1600ms;
  transition-property: transform, color;
  transition-timing-function: ease-out;
}
.fa-code:hover {
  color: #212121 !important;
  transform: rotate(360deg);
}
.fa-mobile-alt {
  transition-duration: 1200ms;
  transition-property: transform, color;
  transition-timing-function: cubic-bezier(1, 0.11, 0, 1.7);
}
.fa-mobile-alt:hover {
  color: #def2f1 !important;
  transform: rotate(360deg);
}
.fa-globe-americas {
  transition-duration: 1200ms;
  transition-property: transform, color;
  transition-timing-function: cubic-bezier(1, 0.11, 0, 1.7);
}
.fa-globe-americas:hover {
  color: #def2f1 !important;
  transform: rotate(360deg);
}
.fa-envelope {
  transition-duration: 1200ms;
  transition-property: transform, color;
  transition-timing-function: cubic-bezier(1, 0.11, 0, 1.7);
}
.fa-envelope:hover {
  color: #def2f1 !important;
  transform: rotate(360deg);
}
.fa-check-square {
  font-size: 18px;
}
.myIconos {
  transition-property: opacity;
  transition-duration: 400ms;
  transition-timing-function: ease-in;
}
.myIconos:hover > * {
  opacity: 0.7;
}
.myIconos:hover > *:hover {
  opacity: 1;
}
.color-facebook {
  transition-property: text-shadow;
  transition-duration: 400ms;
  transition-timing-function: ease-in;
}
.color-facebook:hover {
  color: #3b5998 !important;
  text-shadow: 0 0 10px rgba(59, 89, 152, 0.2), 0 0 20px #3b5998;
}
.color-twitter:hover {
  color: #00acee !important;
}
.color-instagram {
  transition-property: text-shadow;
  transition-duration: 400ms;
  transition-timing-function: ease-in;
}
.color-instagram:hover {
  color: #3f729b !important;
  text-shadow: 0 0 5px rgba(63, 114, 155, 0.2), 0 0 15px #3f729b;
}
.color-microsoft {
  transition-property: text-shadow;
  transition-duration: 400ms;
  transition-timing-function: ease-in;
}
.color-microsoft:hover {
  color: #0e76a8 !important;
  text-shadow: 0 0 5px rgba(14, 118, 168, 0.2), 0 0 15px #0e76a8;
}

.color-pinterest {
  transition-property: text-shadow;
  transition-duration: 400ms;
  transition-timing-function: ease-in;
}
.color-pinterest:hover {
  color: #c8232c !important;
  text-shadow: 0 0 5px rgba(200, 35, 44, 0.2), 0 0 15px #c8232c;
}
.color-youtube {
  transition-property: text-shadow;
  transition-duration: 400ms;
  transition-timing-function: ease-in;
}
.color-youtube:hover {
  color: #c4302b !important;
  text-shadow: 0 0 5px rgba(196, 48, 43, 0.2), 0 0 15px #c4302b;
}
.color-whatsapp {
  transition-property: text-shadow;
  transition-duration: 400ms;
  transition-timing-function: ease-in;
}
.color-whatsapp:hover {
  color: #4fce5d !important;
  text-shadow: 0 0 5px rgba(79, 206, 93, 0.2), 0 0 15px #4fce5d;
}
.progress-bar {
  width: 0;
  animation: progress 2s ease-in forwards;
}

@keyframes progress {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes boton {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
}
@keyframes download {
  0% {
    opacity: 1;
    transform: scale(1, 1);
  }
  50% {
    opacity: 0.6;
    transform: scale(0.93, 0.93);
  }
}
.fa-telegram-plane:hover {
}
@keyframes volar {
  0% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
  25% {
    transform: translate(60px, -40px);
    opacity: 1;
  }
  26% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translate(-60px, 40px);
  }
  75% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
.myButtonEnviar span {
  position: absolute;
}
.myButtonEnviar:hover > span {
  animation-name: volar;
  animation-duration: 2500ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.myTituloModelados {
  margin-top: 140px;
  margin-bottom: 80px;
}
.myTituloAplicaciones {
  margin-top: 140px;
  margin-bottom: 80px;
}
.myTituloGaleria {
  margin-top: 140px;
  margin-bottom: 80px;
}
.mySpantext {
  font-size: 16px;
}

.fa-telegram-plane {
  transition: 2000ms;
}

ol.carousel-indicators {
  position: absolute;
  bottom: 0;
  margin: 0;
  left: 0;
  right: 0;
  width: auto;
}
ol.carousel-indicators li {
  background-color: #3aafa9;
}
