html {
  -ms-scroll-behavior: smoth !important;
  scroll-behavior: smooth;
  touch-action: pan-y;
}

body {
  background: #3aafa9;
  transition-duration: 1000ms;
  transition-property: background, background-image;
  transition-timing-function: ease-in;
}
#my3M {
  cursor: pointer;
}
#my3D {
  cursor: pointer;
}
ul {
  list-style-type: none;
  text-align: left;
}
li {
  display: list-item;
}
.navbar {
  font-family: "Lato", sans-serif;
}
.btn {
  font-family: "Varela Round", sans-serif;
  font-size: 15px;
  font-weight: 500;
  text-transform: none;
}
.myNavColor {
  -webkit-background: rgb(43, 122, 120, 0.1);
  -moz-background: rgb(43, 122, 120, 0.1);
  -ms-background: rgba(2, 3, 3, 0.95) !important;
  background: rgb(43, 122, 120, 0.1);
}
.top-nav-collapse {
  -ms-background: rgb(23, 37, 42, 0.95) !important;
  background: rgb(23, 37, 42, 0.95) !important;
}

.color-azul {
  background-color: #3aafa9;
}
.color-blanco {
  background-color: #feffff;
}
.mySalaz {
  font-family: "Galada", cursive;
}
.myOpacidad {
  opacity: 0.8;
}
.myOpacidad:hover {
  opacity: 1;
}
.myNombre {
  font-family: "Josefin Sans", sans-serif;
}
.myTexto {
  font-family: "Open Sans", sans-serif;
}
.myTextoM {
  font-family: "Righteous", cursive;
  letter-spacing: 0.5px;
}
.myTextoA {
  font-family: "Righteous", cursive;
  letter-spacing: 0.5px;
  font-weight: 200;
}
.myParrafo {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}
.display-3 {
  transform: skewY(-6deg);
  transform-origin: bottom left;
  text-shadow: 3px 2px 0px #d5d5d5, 8px 7px 0px rgba(0, 0, 0, 0.15);
  transition-duration: 800ms;
  transition-property: transform;
  transition-timing-function: ease-in;
  font-family: "Merriweather", serif;
}
.display-3:hover {
  transform: skewY(-3deg);
  transform-origin: bottom left;
}

.myInicio {
  display: none;
  margin-top: 150px;
}
.myWho {
  display: none;
}
.navbar {
  display: none;
}
.myModelados {
  display: none;
}
.myAplicaciones {
  display: none;
}
.MyFooter {
  display: none;
  background-color: #17252a;
}
.MyDatos {
  display: none;
  background-color: #3aafa9;
  padding-top: 40px;
  padding-bottom: 40px;
}
.MyContacto {
  display: none;
  background-color: #17252a;
  padding-top: 80px;
  padding-bottom: 20px;
}
.MyRenders {
  display: none;
  padding-top: 80px;
  padding-bottom: 0;
}
.MyFormulario {
  padding-top: 40px;
}
.mydatos {
  color: #17252a;
}
.myGallery {
  padding-top: 50px;
}
.single-album {
  position: relative;
  overflow: hidden;
}
.album-img {
  position: relative;
  overflow: hidden;
}
.album-img img {
  width: 100%;
  box-sizing: border-box;
  transition-duration: 500ms;
  transition-property: transform, filter;
  transition-timing-function: ease-in;
}
.single-album:hover .album-img img {
  transform: scale(1.1, 1.1);
  filter: grayscale(60%);
}
.nav-pills {
  font-family: "Lato", sans-serif;
  font-size: 15px;
  letter-spacing: 0.5px;
  font-weight: 300;
}
.nav-pills > li > a.active {
  background-color: #3aafa9 !important;
  color: #ffffff !important;
}

.nav-pills > li > a {
  color: #17252a;
}
.myServicios1:hover {
  color: #e91e63;
}
.myServicios2:hover {
  color: #00bcd4;
}
.myHabilidades:hover {
  color: #00bcd4;
}

.myOpacity {
}
.myOpacity:hover {
  opacity: 0.85;
}
.titulos {
  font-family: "Merriweather", sans-serif;
}
.titulos2 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
}

.fa-cube {
  transition-duration: 1600ms;
  transition-property: transform, color;
  transition-timing-function: ease-out;
}
.fa-cube:hover {
  color: #212121 !important;
  transform: rotate(360deg);
}
.fa-desktop {
  transition-duration: 1600ms;
  transition-property: transform, color;
  transition-timing-function: ease-out;
}
.fa-desktop:hover {
  color: #212121 !important;
  transform: rotate(360deg);
}
.fa-code {
  transition-duration: 1600ms;
  transition-property: transform, color;
  transition-timing-function: ease-out;
}
.fa-code:hover {
  color: #212121 !important;
  transform: rotate(360deg);
}
.fa-mobile-alt {
  transition-duration: 1200ms;
  transition-property: transform, color;
  transition-timing-function: cubic-bezier(1, 0.11, 0, 1.7);
}
.fa-mobile-alt:hover {
  color: #def2f1 !important;
  transform: rotate(360deg);
}
.fa-globe-americas {
  transition-duration: 1200ms;
  transition-property: transform, color;
  transition-timing-function: cubic-bezier(1, 0.11, 0, 1.7);
}
.fa-globe-americas:hover {
  color: #def2f1 !important;
  transform: rotate(360deg);
}
.fa-envelope {
  transition-duration: 1200ms;
  transition-property: transform, color;
  transition-timing-function: cubic-bezier(1, 0.11, 0, 1.7);
}
.fa-envelope:hover {
  color: #def2f1 !important;
  transform: rotate(360deg);
}
.fa-check-square {
  font-size: 18px;
}
.color-facebook:hover {
  color: #3b5998 !important;
}
.color-twitter:hover {
  color: #00acee !important;
}
.color-instagram:hover {
  color: #3f729b !important;
}
.color-linkedin:hover {
  color: #0e76a8 !important;
}
.color-google:hover {
  color: #db4a39 !important;
}
.color-pinterest:hover {
  color: #c8232c !important;
}
.color-youtube:hover {
  color: #c4302b !important;
}
.color-whatsapp:hover {
  color: #4fce5d !important;
}
.progress-bar {
  width: 0;
  animation: progress 2s ease-in forwards;
}

@keyframes progress {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.myTituloModelados {
  font-size: 40px;
  margin-top: 140px;
  margin-bottom: 80px;
}
.myTituloAplicaciones {
  font-size: 40px;
  margin-top: 140px;
  margin-bottom: 80px;
}
.mySpantext {
  font-size: 16px;
}
